<script>
  import TabButton from "./TabButton.svelte"

  export let selected = null
  export let navigation = false
  export let items = []
  export let indicator = true
  export let color = "white"
  export let notSelectedColor = "white"
  let className = ""
  export { className as class }
</script>

<div
  class="{className} py-0 h-full {navigation ? 'hidden md:flex' : 'flex'}
  items-center relative mx-auto z-20">
  {#each items as item, i}
    <slot name="item" {color} {item}>
      <TabButton bind:selected {...item} {color} {notSelectedColor}>
        {item.text}
      </TabButton>
    </slot>
  {/each}
</div>

<slot {selected} name="content" />
