@import 'smelte/src/tailwind';
.text-html a {
  text-decoration: underline;
}

.text-html h1 {
  @apply text-4xl;
}

.text-html h2 {
  @apply text-2xl;
}

.text-html h3 {
  @apply text-xl;
}

.text-html h4 {
  @apply text-lg;
}